<!doctype html>
<html lang="en" ng-app="bacobuStore" ng-controller="IndexCtrl">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="style/bacobu.css"/>
		<title>
			{{pageTitle}}
		</title>
		<meta charset="utf-8">
		<meta name="description" content="Bacobu Online Store">
		<meta name="keywords" content="bacobu,jewelry,silver,gemstone">
		<meta name="author" content="Jessica Swanson">
	</head>
	<body>
		<div>
			<button><img src="images/icons/materialDesign/shoppingCart.svg" alt="shopping cart"/>{{cart.numItems}}</button>
		</div>
		<div cart></div>
		<h1>
			{{pageTitle}}
		</h1>
		<p>
			{{pageDescription}}
		</p>
		<!-- TO DO: Pull out appropriate chuncks into directive templates -->
		<div>
			<div ng-repeat="product in productList track by product.id" class="productCard">
				<p class="productCardInfo">
					{{productCardDefaultText.id}} {{product.id}}
				</p>
				<p class="productCardInfo">
					{{productCardDefaultText.name}} {{product.name}}
				</p>
				<p class="productCardInfo">
					{{productCardDefaultText.price}} {{product.price | currency}}
				</p>
				<img ng-src="{{product.images[0].mainImg.location}}" alt="{{product.images[0].mainImg.description}}" class="productCardInfo"/>
				<button ng-click="cart.updateCart()">
					{{productCardDefaultText.addToCartBtn}}
				</button>
			</div>
		</div>
	</body>
</html>
